<mat-list>
  <mat-list-item class="list">
    <form>
      <mat-form-field>
        <label>
          <input type="text" matInput placeholder="First name">
        </label>
        <mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input type="text" matInput placeholder="Last name">
        </label>
        <mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input type="text" matInput placeholder="Age">
        </label>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item class="list">
    <form>
      <mat-form-field>
        <label>
          <input type="text" matInput placeholder="Sex">
        </label>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item class="list">
    <form>
      <mat-form-field>
        <label>
          <input type="text" matInput placeholder="Birthday">
        </label>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item class="list">
    <form>
      <mat-form-field>
        <label>
          <input type="email" matInput placeholder="Email">
        </label>
        <mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input type="password" matInput placeholder="Password">
        </label>
        <mat-error>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item class="list">
    <form>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
      <mat-checkbox>Check me!</mat-checkbox>
    </form>
  </mat-list-item>
</mat-list>
